/* .App{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  height:100vh;
}
.box{
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items:center;
  font-size:auto;
}
.gamebox{
  width: 20%;
  height:60%;
  display:grid;
  grid-template-columns: repeat(3,0.5fr);
  
} */

body{
  background-image:url("\GAME2.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}
.App{
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.head{
  display:flex;
  justify-content: center;
  align-items:center;
  width:100%
}
.choose{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%
}
.char{
  display:inline-block;
  border: 1px solid black;
  margin:5px;
  cursor:pointer;
  background-color: white;
  color:black;
  font-size: 100px;
}
.result{
  display:flex;
  align-items: center;
  justify-content: center;
}
.game-box{
  height: 8rem;
  width: 8rem;
  background-color:white;
  color:black;
  font-size:8rem;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  border:1px solid black;
}

.board{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  background-color:pink;
  width:min-content;
}